{# src/OC/TicketmBundle/Resources/views/Ticket/index.html.twig #}

{% extends "LouvreTicketingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} {% endblock %}

{% block body %}
	<br/>
    <div class="text-center" >
      <a  href="{{ path('booking') }}" class="btn btn-success" data-toggle="button"> Réservez vos billets  </a>
    </div> <br/>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur, quam eget convallis tincidunt, eros ligula viverra diam, vitae laoreet nulla elit a lectus. Quisque lectus diam, efficitur sit amet porttitor eget, lobortis in odio. Praesent sed eros in purus bibendum euismod nec vel dolor. Donec pellentesque dui in aliquet imperdiet. Mauris non ante augue. Praesent ultrices, nisi eget molestie porttitor, tortor erat finibus erat, nec fringilla est felis et diam. Praesent eu dolor vitae nisl ultricies porttitor dictum non nunc. Nulla consectetur neque vel felis feugiat, suscipit egestas justo sodales. Quisque est neque, ullamcorper quis vehicula eget, lacinia in nisl. Nulla vulputate consequat sapien, at posuere eros tincidunt a. Aenean non mauris ut nunc facilisis varius porta vel felis. Pellentesque vestibulum laoreet tincidunt. Fusce gravida dolor sagittis orci ullamcorper, sit amet dapibus odio dignissim. </p>

    <p>Pellentesque luctus odio eu urna suscipit mollis. Proin eu dui mattis, bibendum sem sodales, dignissim ex. Integer vestibulum leo sit amet pharetra interdum. Maecenas tellus sem, pulvinar quis massa vel, laoreet congue dolor. Vivamus sollicitudin mi id laoreet finibus. Vestibulum maximus orci vehicula, blandit justo tincidunt, eleifend justo. Nullam varius libero nec diam efficitur, sit amet faucibus augue tempus. Nulla facilisi. Aliquam nec velit eleifend, finibus ipsum vitae, pharetra libero. Vivamus elementum purus ut tellus venenatis, ut faucibus sem maximus. Etiam sit amet porta erat, eu lobortis justo. Nam aliquam finibus venenatis. Nam vitae urna vulputate, imperdiet sem convallis, commodo tortor. Quisque ut dolor tincidunt, ultricies nisl et, ultricies erat. Proin vel commodo tortor, a faucibus arcu.</p>

    <p>Praesent sit amet lacus porta nisl lacinia tincidunt. Nunc et suscipit enim. Cras blandit nisi vitae massa feugiat, id vehicula mauris molestie. Suspendisse malesuada nisi efficitur euismod dictum. Quisque quis hendrerit eros, nec consequat ante. Curabitur non lectus cursus, blandit lectus sed, tempor libero. Vivamus porta egestas erat ut volutpat. Sed quis fermentum orci, in fermentum est. Nam bibendum odio id vehicula tempor. Maecenas id magna neque. Phasellus quis felis eu ante tempor accumsan ut faucibus quam. Donec dapibus tempor iaculis. Nulla hendrerit magna nec rhoncus semper. Fusce at sapien risus. </p>
{% endblock %}
