{# src/OC/TicketmBundle/Resources/views/Ticket/contact.html.twig #}

{% extends "LouvreTicketingBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Contact {% endblock %}

{% block body %}
	<h2 class="text-center"> Informations Pratiques </h2>

	<h4> Horaires </h4>
	<p> Lundi : 9h - 18h <br/>
		Mardi : Fermé <br/>
		Mercredi : 9h - 21h45 <br/>
		Jeudi : 9h - 18h <br/>
		Vendredi : 9h -21h45 <br/>
		Samedi : 9h - 18h <br/>
		Dimanche : 9h - 18h </p>
		<p> L'évacuation des salles débute à 17 h 30 ou 21 h 30 les jours de nocturne. </p>

	<hr>

	<h4> Tarifs </h4>
	<p> Enfant de moins de 4 ans : Gratuit <br/>
	 Enfant (4 ans à 11 ans) : 8€ <br/>
	 Adulte (12 ans à 59 ans) : 16€ <br/>
	 Sénior (à partir de 60 ans) : 12€ </p>
	 <p> Tarif réduit : 10€ (étudiants, chômeurs, employée du musée, militaire,...) sur présentation d'un justificatif.</p>

	 <hr>

	 <h4> Accéder au Musée du Louvre </h4>
	 <p> En métro : lignes 1 et 7, station "Palais-Royal / Musée du Louvre" </p>

	<p> En bus : bus n° 21, 24, 27, 39, 48, 68, 69, 72, 81, 95 </p>

	<p> Stations Velib à proximité du musée : <br/>
	n°1015 : 2 place A. Malraux	<br/>
	n°1023 : 165 rue Saint-Honoré	<br/>
	n°1014 : 5 rue de l’Echelle	<br/>
	n°1013 : 186 rue Saint-Honoré </p>

	<p> En voiture : un parc de stationnement souterrain est accessible par l'avenue du général Lemonier, tous les jours de 7 h 00 à 23 h 00. </p>

	<p> En Batobus : Escale Louvre, quai François Mitterrand </p>
{% endblock %}